.block-center.mt-xl.wd-xl(ng-controller="ChangePasswordFormController")
  // START panel
  .panel.panel-dark.panel-flat
    .panel-heading.text-center
      a(href="https://hellorent.co")
        img.block-center.img-rounded(src='app/img/logo-1-w158x50.png', alt='HelloRent logo')
    .panel-body
      p.text-center.pv SET NEW PASSWORD
      p(ng-show="tmpAccount.password").text-center It looks like you have used a temporary password to log in.
      form(role='form', validate-form='', novalidate='', ng-submit="changePassword()").mb-lg
        div(ng-hide="tmpAccount.password").form-group.has-feedback
          input#signupInputPasswordOld.form-control(type='password', placeholder='Current Password', autocomplete="off", ng-model="account.oldPassword", required )
          span(style="display: inline-block; vertical-align: middle; float: none; top: 0px;").fa.fa-lock.form-control-feedback.text-muted
        .form-group.has-feedback
          input#signupInputPassword1.form-control(type='password', placeholder='New Password', autocomplete="off", ng-model="account.password", required )
          span(style="display: inline-block; vertical-align: middle; float: none; top: 0px;").fa.fa-lock.form-control-feedback.text-muted
        .form-group.has-feedback
          input#signupInputRePassword1.form-control(type='password', placeholder='Retype Password', autocomplete="off", ng-model="account.password2", required, data-parsley-equalto="#signupInputPassword1")
          span(style="display: inline-block; vertical-align: middle; float: none; top: 0px;").fa.fa-lock.form-control-feedback.text-muted
        .clearfix
        
        button.btn.btn-block.btn-primary.mt-lg(type='submit') Set password
      
      .alert.alert-danger.text-center(ng-show='authMsg') {{authMsg}}      

  // END panel
  .p-lg.text-center
    span &copy; 
    span(ng-bind="app.year") 
    span  - 
    span(ng-bind="app.name")
    br
    span(ng-bind="app.description")
