<div ng-controller="ChangePasswordFormController" class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
         <a href="https://hellorent.co">
            <img src="app/img/logo-1-w158x50.png" alt="HelloRent logo" class="block-center img-rounded" />
         </a>
      </div>
      <div class="panel-body">
         <p class="text-center pv">SET NEW PASSWORD</p>
         <p ng-show="tmpAccount.password" class="text-center">It looks like you have used a temporary password to log in.</p>
         <form role="form" validate-form="" novalidate="" ng-submit="changePassword()" class="mb-lg">
            <div ng-hide="tmpAccount.password" class="form-group has-feedback">
               <input id="signupInputPasswordOld" type="password" placeholder="Current Password" autocomplete="off" ng-model="account.oldPassword" required="required" class="form-control" />
               <span style="display: inline-block; vertical-align: middle; float: none; top: 0px;" class="fa fa-lock form-control-feedback text-muted"></span>
            </div>
            <div class="form-group has-feedback">
               <input id="signupInputPassword1" type="password" placeholder="New Password" autocomplete="off" ng-model="account.password" required="required" class="form-control" />
               <span style="display: inline-block; vertical-align: middle; float: none; top: 0px;" class="fa fa-lock form-control-feedback text-muted"></span>
            </div>
            <div class="form-group has-feedback">
               <input id="signupInputRePassword1" type="password" placeholder="Retype Password" autocomplete="off" ng-model="account.password2" required="required" data-parsley-equalto="#signupInputPassword1" class="form-control" />
               <span style="display: inline-block; vertical-align: middle; float: none; top: 0px;" class="fa fa-lock form-control-feedback text-muted"></span>
            </div>
            <div class="clearfix"></div>
            <button type="submit" class="btn btn-block btn-primary mt-lg">Set password</button>
         </form>
         <div ng-show="authMsg" class="alert alert-danger text-center">{{authMsg}}</div>
      </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>