.unwrap
  .bg-cover(style="background-image: url(app/img/profile-bg.jpg)")
    .p-xl.text-center.text-white
      img.img-thumbnail.img-circle.thumb128(ng-src='{{application.image}}', alt="Image")
      h3.m0 {{application.firstName}} {{application.lastName}}
      p Age {{application.age}}
      p {{application.phone}} | {{application.email}}


      button.btn.btn-labeled.btn-success(type='button')
        span.btn-label
          i.fa.fa-check
        | Approve
      // Danger button with label 
      button.btn.btn-labeled.btn-danger(type='button')
        span.btn-label
          i.fa.fa-times
        | Decline


  .text-center.bg-gray-dark.p-lg.mb-xl
    .row.row-table
      .col-xs-4
        h3.m0 {{application.creditScore}}
        p.m0 Credit Score
      .col-xs-4
        h3.m0 ${{application.income.amount}}
        p.m0 Salary
      .col-xs-4
        h3.m0 {{application.employmentDetails.isEmployed}}
        p.m0 Employed


// START row
.row
.col-lg-4
  // START credit report panel
  #panelDemo7.panel(ng-class="report.cssClass")
    .panel-heading
      h4 Credit Score: {{report.title}}
    .panel-body
      p
        | {{report.description}}
    .panel-footer
      | Read More
  // END panel
.col-lg-4
  // START panel Employment
  #panelDemo8.panel.panel-success
    .panel-heading
      h4 Currently Employed
    .panel-body
        .row.row-table
          .col-xs-12
            ul.list-unstyled
              li.mb-sm
                em.fa.fa-clock-o.fa-fw
                |  Since March 2011
              li.mb-sm
                em.fa.fa-map-marker.fa-fw
                |  Vodafone, Sydney
              li.mb-sm
                em.fa.fa-user.fa-fw
                | Reference: Mr Andrews
              li.mb-sm
                em.fa.fa-phone.fa-fw
                |  0435806802
              li.mb-sm
                em.fa.fa-envelope.fa-fw
                |  asdasd@mail.com

    // END widget

    .panel-footer
      | Read More
  // END panel
.col-lg-4
  // START panel
  #panelDemo9.panel.panel-warning
    .panel-heading
      h4 Rental History
    .panel-body
        .table-responsive
          table.table
            tbody
              tr
                td
                  a(href='#') 1/250 Flinders St.
                td 3 Months
              tr
                td 
                  a(href='#') 19/280 Spencer St.
                td 2 Months
              tr
                td 
                  a(href='#') 25 Owens St.
                td 4 Months
    .panel-footer
      | Read more
  // END panel
// END row
