.unwrap
  .bg-cover(style="background-image: url(app/img/profile-bg.jpg)")
    .p-xl.text-center.text-white
      img.img-thumbnail.img-circle.thumb128(ng-src='{{application.image}}')
      h3.m0 {{application.firstName}} {{application.lastName}}
      p Age {{application.age}}, Smoker, Has Pets.
      p {{application.phone}} | {{application.email}}


  .text-center.bg-gray-dark.p-lg.mb-xl
    .row.row-table
      .col-xs-4
        h3.m0(ng-if="application.creditScore > 0") {{application.creditScore}}
        h3.m0(ng-if="application.creditScore < 0") ?
        p.m0 Credit Score
      .col-xs-4
        h3.m0 ${{application.income.amount}}
        p.m0 Salary
      .col-xs-4
        h3(ng-show="application.employmentDetails.isEmployed").m0 Yes
        h3(ng-hide="application.employmentDetails.isEmployed").m0 No
        p.m0 Employed


// START row
.row
.col-lg-4
  // START credit report panel
  #panelDemo7.panel(ng-class="report.cssClass")
    .panel-heading
      h4 Credit Score: {{report.title}}
    div(ng-class="{'csspinner traditional': !report}").panel-body
      p
        | {{report.description}}
    //.panel-footer
      //| Read More
  // END panel

div(ng-show="application.employmentDetails.isEmployed").col-lg-4
  // START panel Employment
  #panelDemo8.panel.panel-success
    .panel-heading
      h4 Currently Employed
    div(ng-class="{'csspinner traditional': !application}").panel-body
        .row.row-table
          .col-xs-12
            ul.list-unstyled
              li.mb-sm
                em.fa.fa-clock-o.fa-fw
                |  {{application.employmentDetails.position}} since {{application.employmentDetails.startDate}}
              li.mb-sm
                em.fa.fa-map-marker.fa-fw
                |  {{application.employmentDetails.company}}
              li.mb-sm
                em.fa.fa-user.fa-fw
                | Reference: {{application.employmentDetails.references[0].name}}
              li.mb-sm
                em.fa.fa-phone.fa-fw
                |  {{application.employmentDetails.references[0].phoneNumber}}
          

    // END widget

    //.panel-footer
      //| Read More
  // END panel

div(ng-show="!application.employmentDetails.isEmployed").col-lg-4
  // START panel Employment
  #panelDemo8.panel.panel-warning
    .panel-heading
      h4 Currently Unemployed
    div(ng-class="{'csspinner traditional': !application}").panel-body
        .row.row-table
          .col-xs-12
            ul.list-unstyled
              li.mb-sm
                p(ng-show="application.employmentDetails.message") Details: {{application.employmentDetails.message}}

    // END widget

    //.panel-footer
      //| Read More
  // END panel


.col-lg-4
  // START panel
  #panelDemo9.panel.panel-primary
    .panel-heading
      h4 Rental History
    div(ng-class="{'csspinner traditional': !application}").panel-body
        .table-responsive
          table.table
            tbody
              tr(ng-repeat="address in application.addresses")
                td
                  p.text-center {{address.moveIn}} - {{address.movedOut}}
                  p {{address.line1}}, {{address.suburb}}, {{address.postCode}} {{address.state}}
                  p References: 
                  div(ng-repeat="reference in address.references") {{reference.name}} 
                      span(ng-show="reference.relationship") ({{reference.relationship}})
                      | {{reference.phoneNumber}}
    //.panel-footer
      //| Read more
  // END panel
// END row
