h3 Applications
  small Screen your applicants

.row
  .col-lg-4
    // START widget
    .panel.widget
      .half-float
        div(style="height: 80px;")
        .half-float-bottom
          img.img-thumbnail.img-circle.thumb128(src='app/img/user/09.jpg', alt="Image")
      .panel-body.text-center
        h3.m0 Ted Berry
        p.text-muted Lead director
        p Proin metus justo, commodo in ultrices at, lobortis sit amet dui. Fusce dolor purus, adipiscing a tempus at, gravida vel purus. 
      .panel-body.text-center.bg-gray-dark
        .row.row-table
          .col-xs-4
            h3.m0 400
            p.m0 Photos
          .col-xs-4
            h3.m0 2000
            p.m0 Likes
          .col-xs-4
            h3.m0 500
            p.m0 Following
    // END widget
  .col-lg-4
// END row
// END panel tab
