// START action buttons
.clearfix.mb
  .btn-group.pull-left
    button.btn.btn-default.btn-sm(type="button")
      em.fa.fa-mail-reply.text-gray-dark
    button.btn.btn-default.btn-sm(type="button")
      em.fa.fa-mail-reply-all.text-gray-dark
    button.btn.btn-default.btn-sm(type="button")
      em.fa.fa-mail-forward.text-gray-dark
  .btn-group.pull-right
    button.btn.btn-default.btn-sm(type="button")
      em.fa.fa-exclamation.text-gray-dark
    button.btn.btn-default.btn-sm(type="button")
      em.fa.fa-times.text-gray-dark
// END action buttons

.panel.panel-default
  .panel-body
    table.table.table-hover.mb-mails
      //- thead
      //-   tr
      //-     th(check-all)
      //-       .checkbox.c-checkbox(data-toggle="tooltip",data-title="Check All")
      //-         label
      //-           input(type='checkbox')
      //-           span.fa.fa-check
      //-     th 
      //-     th 
      tbody
        tr.mb-mail-active
          td
            .checkbox.c-checkbox
              label
                input(type='checkbox', checked="checked")
                span.fa.fa-check
          td.text-center
            em.fa.fa-star.fa-lg.text-warning
          td(ng-click="$state.transitionTo('app.mailbox.view')")
            .mb-mail-date 10:30pm
            img.mb-mail-avatar(src="app/img/user/01.jpg", alt="Mail Avatar")
            .pull-left
              .mb-mail-from Antonio Griffin
              .mb-mail-subject Sed fringilla molestie convallis. 
            .mb-mail-preview Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...
        tr
          td
            .checkbox.c-checkbox
              label
                input(type='checkbox')
                span.fa.fa-check
          td.text-center
            em.fa.fa-star-o.fa-lg.text-muted
          td(ng-click="$state.transitionTo('app.mailbox.view')")
            .mb-mail-date 10:30pm
            img.mb-mail-avatar(src="app/img/user/02.jpg", alt="Mail Avatar")
            .pull-left
              .mb-mail-from Bernard Elliott
              .mb-mail-subject Sed fringilla molestie convallis. 
            .mb-mail-preview Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...
        tr
          td
            .checkbox.c-checkbox
              label
                input(type='checkbox')
                span.fa.fa-check
          td.text-center
            em.fa.fa-star-o.fa-lg.text-muted
          td(ng-click="$state.transitionTo('app.mailbox.view')")
            .mb-mail-date 10:30pm
            img.mb-mail-avatar(src="app/img/user/03.jpg", alt="Mail Avatar")
            .pull-left
              .mb-mail-from Alfredo Fletcher
              .mb-mail-subject Sed fringilla molestie convallis. 
            .mb-mail-preview Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...
        tr
          td
            .checkbox.c-checkbox
              label
                input(type='checkbox')
                span.fa.fa-check
          td.text-center
            em.fa.fa-star-o.fa-lg.text-muted
          td(ng-click="$state.transitionTo('app.mailbox.view')")
            .mb-mail-date 10:30pm
            img.mb-mail-avatar(src="app/img/user/04.jpg", alt="Mail Avatar")
            .pull-left
              .mb-mail-from Mitchell Burke
              .mb-mail-subject Sed fringilla molestie convallis. 
            .mb-mail-preview Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...
        tr
          td
            .checkbox.c-checkbox
              label
                input(type='checkbox')
                span.fa.fa-check
          td.text-center
            em.fa.fa-star-o.fa-lg.text-muted
          td(ng-click="$state.transitionTo('app.mailbox.view')")
            .mb-mail-date 10:30pm
            img.mb-mail-avatar(src="app/img/user/05.jpg", alt="Mail Avatar")
            .pull-left
              .mb-mail-from Joel Miles
              .mb-mail-subject Sed fringilla molestie convallis. 
            .mb-mail-preview Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...
        tr
          td
            .checkbox.c-checkbox
              label
                input(type='checkbox')
                span.fa.fa-check
          td.text-center
            em.fa.fa-star-o.fa-lg.text-muted
          td(ng-click="$state.transitionTo('app.mailbox.view')")
            .mb-mail-date 10:30pm
            img.mb-mail-avatar(src="app/img/user/06.jpg", alt="Mail Avatar")
            .pull-left
              .mb-mail-from Alyssa Kim
              .mb-mail-subject Sed fringilla molestie convallis. 
            .mb-mail-preview Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...
        tr
          td
            .checkbox.c-checkbox
              label
                input(type='checkbox')
                span.fa.fa-check
          td.text-center
            em.fa.fa-star-o.fa-lg.text-muted
          td(ng-click="$state.transitionTo('app.mailbox.view')")
            .mb-mail-date 10:30pm
            img.mb-mail-avatar(src="app/img/user/07.jpg", alt="Mail Avatar")
            .pull-left
              .mb-mail-from Jim Cruz
              .mb-mail-subject Sed fringilla molestie convallis. 
            .mb-mail-preview Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...
        tr
          td
            .checkbox.c-checkbox
              label
                input(type='checkbox')
                span.fa.fa-check
          td.text-center
            em.fa.fa-star-o.fa-lg.text-muted
          td(ng-click="$state.transitionTo('app.mailbox.view')")
            .mb-mail-date 10:30pm
            img.mb-mail-avatar(src="app/img/user/08.jpg", alt="Mail Avatar")
            .pull-left
              .mb-mail-from Rebecca Griffin
              .mb-mail-subject Sed fringilla molestie convallis. 
            .mb-mail-preview Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...
        tr
          td
            .checkbox.c-checkbox
              label
                input(type='checkbox')
                span.fa.fa-check
          td.text-center
            em.fa.fa-star-o.fa-lg.text-muted
          td(ng-click="$state.transitionTo('app.mailbox.view')")
            .mb-mail-date 10:30pm
            img.mb-mail-avatar(src="app/img/user/09.jpg", alt="Mail Avatar")
            .pull-left
              .mb-mail-from Gwendolyn Wood
              .mb-mail-subject Sed fringilla molestie convallis. 
            .mb-mail-preview Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...
        tr
          td
            .checkbox.c-checkbox
              label
                input(type='checkbox')
                span.fa.fa-check
          td.text-center
            em.fa.fa-star-o.fa-lg.text-muted
          td(ng-click="$state.transitionTo('app.mailbox.view')")
            .mb-mail-date 10:30pm
            img.mb-mail-avatar(src="app/img/user/10.jpg", alt="Mail Avatar")
            .pull-left
              .mb-mail-from Bobbie Fox
              .mb-mail-subject Sed fringilla molestie convallis. 
            .mb-mail-preview Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...
        tr
          td
            .checkbox.c-checkbox
              label
                input(type='checkbox')
                span.fa.fa-check
          td.text-center
            em.fa.fa-star-o.fa-lg.text-muted
          td(ng-click="$state.transitionTo('app.mailbox.view')")
            .mb-mail-date 10:30pm
            img.mb-mail-avatar(src="app/img/user/11.jpg", alt="Mail Avatar")
            .pull-left
              .mb-mail-from Elizabeth Castillo
              .mb-mail-subject Sed fringilla molestie convallis. 
            .mb-mail-preview Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...
