h3 Add a Property
  small your new property

// START panel
.panel.panel-default
  .panel-body.row.ml
    form.col-sm-4.form-horizontal(method='get' ng-controller="FileUploadController")
      fieldset
        .form-group
          .col-sm-12
            #upload-drop.box-placeholder.text-center.align-middle(style="min-height: 200px;")
                p: em.fa.fa-cloud-upload.fa-2x
                |  Upload images by dropping them here or 
                .btn-link.form-file
                  | selecting one
                  input#upload-select(type='file', name="upfile")
            #progressbar.progress.hidden
                .progress-bar(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100')
          .col-sm-12
            ul.list-group
              li.list-group-item.lead.text-muted.text-center(ng-show='!fileUploadList.length') No images for upload..
              li.list-group-item.hover-visible(ng-repeat="f in fileUploadList") {{f.file}}
                a(href="#", ng-click="removeFile($index)").pull-right.hover-hidden
                  em.fa.fa-times.fa-lg.text-muted
            .text-right(ng-show='fileUploadList.length')
              button.btn.btn-primary(type="button") Confirm
    div.col-sm-8
      // START panel
      .panel.panel-default
        .panel-body
          form(role='form' ng-submit="addNewProperty()")
            .row
              .form-group.col-sm-12
                label Address
                input.form-control(type='text', placeholder='Address', ng-model="property.address.line1")
            .row
              .form-group.col-sm-12
                label Address Line 2 (Optional)
                input.form-control(type='text', placeholder='Apt. #, level, suite, etc.', ng-model="property.address.line2")
            .row
              .form-group.col-sm-6
                label City
                input.form-control(type='text', placeholder='City', ng-model="property.address.city")
              .form-group.col-sm-6
                label Post Code
                input.form-control(type='text', placeholder='Post Code', ng-model="property.address.postCode")
            .row    
              .form-group.col-sm-6
                label State
                input.form-control(type='text', placeholder='Post Code', ng-model="property.address.state")
              div(ng-if="countries.length > 0").form-group.col-sm-6
                label Country
                br
                select.chosen-select.input-md(chosen='', ng-model='property.address.country', ng-options='c.name for c in countries')
            
            .row
              .form-group.col-sm-6
                label Weekly Rent
                .input-group.m-b
                  span.input-group-addon $
                  input.form-control(type='text', ng-model='property.rent.amount')
              .form-group.col-sm-6
                label Bond
                .input-group.m-b
                  span.input-group-addon $
                  input.form-control(type='text', ng-model='property.rent.bond')

            .row
              .form-group.col-sm-4
                label Bedrooms
                .input-group.m-b
                  span.input-group-addon
                  input.form-control(type='number', ng-model='property.bedrooms')
              .form-group.col-sm-4
                label Bathrooms
                .input-group.m-b
                  span.input-group-addon
                  input.form-control(type='number', ng-model='property.bathrooms')
              .form-group.col-sm-4
                label Carspaces
                .input-group.m-b
                  span.input-group-addon
                    em.fa.fa-car
                  input.form-control(type='number', ng-model='property.carspaces')

            .row
              .form-group.col-sm-6
                label Type
                br
                select.chosen-select.input-md(chosen='', ng-model='property.type', ng-options='t.name for t in propertyTypeList')
              .form-group.col-sm-6
                label Pets
                br
                select.chosen-select.input-md(chosen='', multiple='', ng-model='selectedPets', ng-options='p.name for p in petsList')
            .row
              .form-group.col-sm-12
                label Description (Optional)
                input.form-control(type='text', placeholder='Description', ng-model="property.description")

            button.btn.btn-sm.btn-default(type='submit') Submit

            div(ng-show='message', ng-class="{'alert-success': isSuccessful, 'alert-danger': !isSuccessful}").alert.text-center.m-lg {{message}}
      // END panel

