h3 Properties
  small my properties

div(ng-class="{'csspinner line grow': !properties}").row
  div
    .col-lg-6(ng-repeat='property in properties')
      // START widget
      .panel.widget
        .panel-body.text-center.bg-center(style="background-image: url('{{property.coverImageUrl}}')")
          //img.img-responsive(ng-src="{{property.coverImageUrl}}")
          .row.row-table
            .col-xs-12.text-absolute-black.shadow-white
              h3.mt-xl.mb-xl {{property.address | address}}
        .panel-body.text-center.bg-gray-darker
          p.m0
            a(ng-href="http://apply.hellorent.co/{{property.$id}}", target="_blank")
              em.fa.fa-link.fa-fw
              |  apply.hellorent.co/{{property.$id}}
        .list-group
          a(href="#").list-group-item
            span.label.label-primary.pull-right 15
            em.fa.fa-fw.fa-clock-o.text-muted
            |  Recent Activity
          a(href="#").list-group-item
            span.label.label-primary.pull-right 100
            em.fa.fa-fw.fa-user.text-muted
            |  Following
          a(href="#").list-group-item
            span.label.label-primary.pull-right 300
            em.fa.fa-fw.fa-folder-open-o.text-muted
            |  Photos
      // END widget
    // END COLUMN
    .col-lg-6
      a(data-ui-sref="app.newproperty").link-unstyled
        .panel.widget
          .panel-body.text-center.mt-xl.mb-xl
            h2.text-gray Add New Property
// END row
// END panel tab
