<h3>Applications
   <small>Screen your applicants</small>
</h3>
<div class="row">
   <div class="col-lg-4">
      <!-- START widget-->
      <div class="panel widget">
         <div class="half-float">
            <div style="height: 80px;"></div>
            <div class="half-float-bottom">
               <img src="app/img/user/09.jpg" alt="Image" class="img-thumbnail img-circle thumb128" />
            </div>
         </div>
         <div class="panel-body text-center">
            <h3 class="m0">Ted Berry</h3>
            <p class="text-muted">Lead director</p>
            <p>Proin metus justo, commodo in ultrices at, lobortis sit amet dui. Fusce dolor purus, adipiscing a tempus at, gravida vel purus.</p>
         </div>
         <div class="panel-body text-center bg-gray-dark">
            <div class="row row-table">
               <div class="col-xs-4">
                  <h3 class="m0">400</h3>
                  <p class="m0">Photos</p>
               </div>
               <div class="col-xs-4">
                  <h3 class="m0">2000</h3>
                  <p class="m0">Likes</p>
               </div>
               <div class="col-xs-4">
                  <h3 class="m0">500</h3>
                  <p class="m0">Following</p>
               </div>
            </div>
         </div>
      </div>
      <!-- END widget-->
   </div>
   <div class="col-lg-4"></div>
</div>
<!-- END row-->
<!-- END panel tab-->