<div class="unwrap">
   <div style="background-image: url(app/img/profile-bg.jpg)" class="bg-cover">
      <div class="p-xl text-center text-white">
         <img ng-src="{{application.image}}" class="img-thumbnail img-circle thumb128" />
         <h3 class="m0">{{application.firstName}} {{application.lastName}}</h3>
         <p>Age {{application.age}}, Smoker, Has Pets.</p>
         <p>{{application.phone}} | {{application.email}}</p>
      </div>
   </div>
   <div class="text-center bg-gray-dark p-lg mb-xl">
      <div class="row row-table">
         <div class="col-xs-4">
            <h3 ng-if="application.creditScore &gt; 0" class="m0">{{application.creditScore}}</h3>
            <h3 ng-if="application.creditScore &lt; 0" class="m0">?</h3>
            <p class="m0">Credit Score</p>
         </div>
         <div class="col-xs-4">
            <h3 class="m0">${{application.income.amount}}</h3>
            <p class="m0">Salary</p>
         </div>
         <div class="col-xs-4">
            <h3 ng-show="application.employmentDetails.isEmployed" class="m0">Yes</h3>
            <h3 ng-hide="application.employmentDetails.isEmployed" class="m0">No</h3>
            <p class="m0">Employed</p>
         </div>
      </div>
   </div>
</div>
<!-- START row-->
<div class="row"></div>
<div class="col-lg-4">
   <!-- START credit report panel-->
   <div id="panelDemo7" ng-class="report.cssClass" class="panel">
      <div class="panel-heading">
         <h4>Credit Score: {{report.title}}</h4>
      </div>
      <div class="panel-body">
         <p>{{report.description}}</p>
      </div>
      <!--.panel-footer//| Read More-->
   </div>
   <!-- END panel-->
</div>
<div ng-show="application.employmentDetails.isEmployed" class="col-lg-4">
   <!-- START panel Employment-->
   <div id="panelDemo8" class="panel panel-success">
      <div class="panel-heading">
         <h4>Currently Employed</h4>
      </div>
      <div class="panel-body">
         <div class="row row-table">
            <div class="col-xs-12">
               <ul class="list-unstyled">
                  <li class="mb-sm">
                     <em class="fa fa-clock-o fa-fw"></em>{{application.employmentDetails.position}} since {{application.employmentDetails.startDate}}</li>
                  <li class="mb-sm">
                     <em class="fa fa-map-marker fa-fw"></em>{{application.employmentDetails.company}}</li>
                  <li class="mb-sm">
                     <em class="fa fa-user fa-fw"></em>Reference: {{application.employmentDetails.references[0].name}}</li>
                  <li class="mb-sm">
                     <em class="fa fa-phone fa-fw"></em>{{application.employmentDetails.references[0].phoneNumber}}</li>
               </ul>
            </div>
         </div>
      </div>
      <!-- END widget-->
      <!--.panel-footer//| Read More-->
   </div>
   <!-- END panel-->
</div>
<div ng-show="!application.employmentDetails.isEmployed" class="col-lg-4">
   <!-- START panel Employment-->
   <div id="panelDemo8" class="panel panel-warning">
      <div class="panel-heading">
         <h4>Currently Unemployed</h4>
      </div>
      <div class="panel-body">
         <div class="row row-table">
            <div class="col-xs-12">
               <ul class="list-unstyled">
                  <li class="mb-sm">
                     <p>Details: {{application.employmentDetails.message}}</p>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <!-- END widget-->
      <!--.panel-footer//| Read More-->
   </div>
   <!-- END panel-->
</div>
<div class="col-lg-4">
   <!-- START panel-->
   <div id="panelDemo9" class="panel panel-primary">
      <div class="panel-heading">
         <h4>Rental History</h4>
      </div>
      <div class="panel-body">
         <div class="table-responsive">
            <table class="table">
               <tbody>
                  <tr>
                     <td>
                        <p>9 Power st., St.Albans, 3021 VIC (9 months)</p>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <p>50 Grampians way, Caroline Springs, 3023 VIC (2 years)</p>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <!--.panel-footer//| Read more-->
   </div>
   <!-- END panel-->
</div>
<!-- END row-->