<h3>Add a Property
   <small>your new property</small>
</h3>
<!-- START panel-->
<div class="panel panel-default">
   <div class="panel-body row ml">
      <form method="get" ng-controller="FileUploadController" class="col-sm-4 form-horizontal">
         <fieldset>
            <div class="form-group">
               <div class="col-sm-12">
                  <div id="upload-drop" style="min-height: 200px;" class="box-placeholder text-center align-middle">
                     <p>
                        <em class="fa fa-cloud-upload fa-2x"></em>
                     </p>Upload images by dropping them here or
                     <div class="btn-link form-file">selecting one
                        <input id="upload-select" type="file" name="upfile" />
                     </div>
                  </div>
                  <div id="progressbar" class="progress hidden">
                     <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="progress-bar"></div>
                  </div>
               </div>
               <div class="col-sm-12">
                  <ul class="list-group">
                     <li ng-show="!fileUploadList.length" class="list-group-item lead text-muted text-center">No images for upload..</li>
                     <li ng-repeat="f in fileUploadList" class="list-group-item hover-visible">{{f.file}}
                        <a href="#" ng-click="removeFile($index)" class="pull-right hover-hidden">
                           <em class="fa fa-times fa-lg text-muted"></em>
                        </a>
                     </li>
                  </ul>
                  <div ng-show="fileUploadList.length" class="text-right">
                     <button type="button" class="btn btn-primary">Confirm</button>
                  </div>
               </div>
            </div>
         </fieldset>
      </form>
      <div class="col-sm-8">
         <!-- START panel-->
         <div class="panel panel-default">
            <div class="panel-body">
               <form role="form" ng-submit="addNewProperty()">
                  <div class="row">
                     <div class="form-group col-sm-12">
                        <label>Address</label>
                        <input type="text" placeholder="Address" ng-model="property.address.line1" class="form-control" />
                     </div>
                  </div>
                  <div class="row">
                     <div class="form-group col-sm-12">
                        <label>Address Line 2 (Optional)</label>
                        <input type="text" placeholder="Apt. #, level, suite, etc." ng-model="property.address.line2" class="form-control" />
                     </div>
                  </div>
                  <div class="row">
                     <div class="form-group col-sm-6">
                        <label>City</label>
                        <input type="text" placeholder="City" ng-model="property.address.city" class="form-control" />
                     </div>
                     <div class="form-group col-sm-6">
                        <label>Post Code</label>
                        <input type="text" placeholder="Post Code" ng-model="property.address.postCode" class="form-control" />
                     </div>
                  </div>
                  <div class="row">
                     <div class="form-group col-sm-6">
                        <label>State</label>
                        <input type="text" placeholder="Post Code" ng-model="property.address.state" class="form-control" />
                     </div>
                     <div ng-if="countries.length &gt; 0" class="form-group col-sm-6">
                        <label>Country</label>
                        <br/>
                        <select chosen="" ng-model="property.address.country" ng-options="c.name for c in countries" class="chosen-select input-md"></select>
                     </div>
                  </div>
                  <div class="row">
                     <div class="form-group col-sm-6">
                        <label>Weekly Rent</label>
                        <div class="input-group m-b">
                           <span class="input-group-addon">$</span>
                           <input type="text" ng-model="property.rent.amount" class="form-control" />
                        </div>
                     </div>
                     <div class="form-group col-sm-6">
                        <label>Bond</label>
                        <div class="input-group m-b">
                           <span class="input-group-addon">$</span>
                           <input type="text" ng-model="property.rent.bond" class="form-control" />
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="form-group col-sm-4">
                        <label>Bedrooms</label>
                        <div class="input-group m-b">
                           <span class="input-group-addon"></span>
                           <input type="number" ng-model="property.bedrooms" class="form-control" />
                        </div>
                     </div>
                     <div class="form-group col-sm-4">
                        <label>Bathrooms</label>
                        <div class="input-group m-b">
                           <span class="input-group-addon"></span>
                           <input type="number" ng-model="property.bathrooms" class="form-control" />
                        </div>
                     </div>
                     <div class="form-group col-sm-4">
                        <label>Carspaces</label>
                        <div class="input-group m-b">
                           <span class="input-group-addon">
                              <em class="fa fa-car"></em>
                           </span>
                           <input type="number" ng-model="property.carspaces" class="form-control" />
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="form-group col-sm-6">
                        <label>Type</label>
                        <br/>
                        <select chosen="" ng-model="property.type" ng-options="t.name for t in propertyTypeList" class="chosen-select input-md"></select>
                     </div>
                     <div class="form-group col-sm-6">
                        <label>Pets</label>
                        <br/>
                        <select chosen="" multiple="" ng-model="selectedPets" ng-options="p.name for p in petsList" class="chosen-select input-md"></select>
                     </div>
                  </div>
                  <div class="row">
                     <div class="form-group col-sm-12">
                        <label>Description (Optional)</label>
                        <input type="text" placeholder="Description" ng-model="property.description" class="form-control" />
                     </div>
                  </div>
                  <button type="submit" class="btn btn-sm btn-default">Submit</button>
                  <div ng-show="message" ng-class="{'alert-success': isSuccessful, 'alert-danger': !isSuccessful}" class="alert text-center m-lg">{{message}}</div>
               </form>
            </div>
         </div>
         <!-- END panel-->
      </div>
   </div>
</div>