<h3>Properties
   <small>my properties</small>
</h3>
<div ng-class="{'csspinner line grow': !properties}" class="row">
   <div>
      <div ng-repeat="property in properties" class="col-lg-6">
         <!-- START widget-->
         <div class="panel widget">
            <div style="background-image: url('{{property.coverImageUrl}}')" class="panel-body text-center bg-center">
               <!--img.img-responsive(ng-src="{{property.coverImageUrl}}")-->
               <div class="row row-table">
                  <div class="col-xs-12 text-black shadow-white">
                     <h3 class="m0">{{property.address | address}}</h3>
                     <p class="m0">
                        <em class="fa fa-link fa-fw"></em>apply.hellorent.co/{{property.$id}}</p>
                  </div>
               </div>
            </div>
            <div class="panel-body text-center bg-gray-darker">
               <div class="row row-table">
                  <div class="col-xs-4">
                     <a href="#" class="text-white">
                        <em class="fa fa-twitter fa-2x"></em>
                     </a>
                  </div>
                  <div class="col-xs-4">
                     <a href="#" class="text-white">
                        <em class="fa fa-facebook fa-2x"></em>
                     </a>
                  </div>
                  <div class="col-xs-4">
                     <a href="#" class="text-white">
                        <em class="fa fa-comments fa-2x"></em>
                     </a>
                  </div>
               </div>
            </div>
            <div class="list-group">
               <a href="#" class="list-group-item">
                  <span class="label label-primary pull-right">15</span>
                  <em class="fa fa-fw fa-clock-o text-muted"></em>Recent Activity</a>
               <a href="#" class="list-group-item">
                  <span class="label label-primary pull-right">100</span>
                  <em class="fa fa-fw fa-user text-muted"></em>Following</a>
               <a href="#" class="list-group-item">
                  <span class="label label-primary pull-right">300</span>
                  <em class="fa fa-fw fa-folder-open-o text-muted"></em>Photos</a>
            </div>
         </div>
         <!-- END widget-->
      </div>
   </div>
</div>
<!-- END row-->
<!-- END panel tab-->