<h3>Properties
   <small>my properties</small>
</h3>
<div ng-class="{'csspinner line grow': !properties}" class="row">
   <div>
      <div ng-repeat="property in properties" class="col-lg-6">
         <!-- START widget-->
         <div class="panel widget">
            <div style="background-image: url('{{property.coverImageUrl}}')" class="panel-body text-center bg-center">
               <!--img.img-responsive(ng-src="{{property.coverImageUrl}}")-->
               <div class="row row-table">
                  <div class="col-xs-12 text-absolute-black shadow-white">
                     <h3 class="mt-xl mb-xl">{{property.address | address}}</h3>
                  </div>
               </div>
            </div>
            <div class="panel-body text-center bg-gray-darker">
               <p class="m0">
                  <a ng-href="http://apply.hellorent.co/{{property.$id}}" target="_blank">
                     <em class="fa fa-link fa-fw"></em>apply.hellorent.co/{{property.$id}}</a>
               </p>
            </div>
            <div class="list-group">
               <a href="#" class="list-group-item">
                  <span class="label label-primary pull-right">15</span>
                  <em class="fa fa-fw fa-clock-o text-muted"></em>Recent Activity</a>
               <a href="#" class="list-group-item">
                  <span class="label label-primary pull-right">100</span>
                  <em class="fa fa-fw fa-user text-muted"></em>Following</a>
               <a href="#" class="list-group-item">
                  <span class="label label-primary pull-right">300</span>
                  <em class="fa fa-fw fa-folder-open-o text-muted"></em>Photos</a>
            </div>
         </div>
         <!-- END widget-->
      </div>
      <!-- END COLUMN-->
      <div class="col-lg-6">
         <a data-ui-sref="app.newproperty" class="link-unstyled">
            <div class="panel widget">
               <div class="panel-body text-center mt-xl mb-xl">
                  <h2 class="text-gray">Add New Property</h2>
               </div>
            </div>
         </a>
      </div>
   </div>
</div>
<!-- END row-->
<!-- END panel tab-->