<h3>Settings</h3>
<!-- START panel-->
<div class="panel panel-default">
   <div class="panel-body">
      <form-wizard validate-form="" novalidate="">
         <div class="form-wizard wizard-horizontal">
            <!-- START wizard steps indicator-->
            <ol class="row">
               <li class="col-lg-3">
                  <h4>Personal Information</h4>
                  <small class="text-muted">Make sure your personal info is up to date.</small>
               </li>
               <li class="col-lg-3">
                  <h4>Change Password</h4>
                  <small class="text-muted">Change your password. Please use a minimum of six characters.</small>
               </li>
            </ol>
            <!-- END wizard steps indicator-->
            <!-- START Wizard Step inputs -->
            <div>
               <fieldset>
                  <legend>Personal Information</legend>
                  <!-- START row -->
                  <div class="row">
                     <div class="col-md-4">
                        <div class="form-group">
                           <label>First Name</label>
                           <input type="text" name="first-name" ng-model="authUser.firstName" class="form-control" />
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group">
                           <label>Middle Name</label>
                           <input type="text" name="first-name" ng-model="authUser.middleName" class="form-control" />
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group">
                           <label>Surname</label>
                           <input type="text" name="last-name" ng-model="authUser.surname" class="form-control" />
                        </div>
                     </div>
                     <button type="button" ng-click="saveUser()" class="btn btn-oval btn-primary m-lg">Save Changes</button>
                     <div ng-show="authMsg" ng-class="{'alert-success': isSuccessful, 'alert-danger': !isSuccessful}" class="alert text-center m-lg">{{authMsg}}</div>
                  </div>
                  <!-- END row -->
               </fieldset>
            </div>
            <!-- END Wizard Step inputs -->
            <!-- START Wizard Step inputs -->
            <div>
               <fieldset>
                  <legend>Change Password</legend>
                  <!-- START row -->
                  <div ng-controller="ChangePasswordFormController" class="row">
                     <div class="col-md-4">
                        <div class="form-group">
                           <input id="signupInputPasswordOld" type="password" placeholder="Current Password" autocomplete="off" ng-model="account.oldPassword" required="required" class="form-control" />
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group">
                           <input id="signupInputPassword1" type="password" placeholder="New Password" autocomplete="off" ng-model="account.password" required="required" class="form-control" />
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group">
                           <input id="signupInputRePassword1" type="password" placeholder="Retype Password" autocomplete="off" ng-model="account.password2" required="required" data-parsley-equalto="#signupInputPassword1" class="form-control" />
                        </div>
                     </div>
                     <button type="button" ng-click="changePassword(true)" class="btn btn-oval btn-primary m-lg">Change Password</button>
                     <div ng-show="authMsg" ng-class="{'alert-success': isSuccessful, 'alert-danger': !isSuccessful}" class="alert text-center m-lg">{{authMsg}}</div>
                  </div>
                  <!-- END row -->
               </fieldset>
            </div>
            <!-- END Wizard Step inputs -->
         </div>
      </form-wizard>
   </div>
</div>
<!-- END panel -->